<footer id="footer-outer" class="footer" data-cols="4" data-custom-color="true" data-disable-copyright="false" data-copyright-line="true" data-using-bg-img="false" data-bg-img-overlay="0.8" data-full-width="false" data-using-widget-area="true" data-link-hover="underline" role="contentinfo">
    <div id="footer-widgets" data-has-widgets="true" data-cols="4">
        <div class="container">
            <div class="row">
                <div class="col span_3">
                    <div class="widget"></div>
                </div>
                <div class="col span_3">
                    <div class="widget"></div>
                </div>
                <div class="col span_3">
                    <div class="widget"></div>
                </div>
                <div class="col span_3">
                    <div class="widget"></div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row" id="copyright" data-layout="centered">
        <div class="container">
            <div class="copyright-content">
                <div class="footer-links">
                    <a rel="privacy-policy" href="/privacy-policy" class="footer-link">Privacy Policy</a>
                    <a href="/terms-conditions" class="footer-link">Terms & Conditions</a>
                    <a href="#" class="footer-link">Accessibility</a>
                    <a href="#" class="footer-link">Subscribe to Newsletter</a>
                </div>
                <p class="copyright-text">&copy; 2026 WAW London - Women in Agribusiness Week London 2026. All rights reserved.</p>
                <ul class="social">
                    <li>
                        <a target="_blank" rel="noopener" href="#" aria-label="Twitter">
                            <span class="screen-reader-text">twitter</span>
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener" href="#" aria-label="Facebook">
                            <span class="screen-reader-text">facebook</span>
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener" href="#" aria-label="LinkedIn">
                            <span class="screen-reader-text">linkedin</span>
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" rel="noopener" href="#" aria-label="Instagram">
                            <span class="screen-reader-text">instagram</span>
                            <i class="fab fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

